<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:rim="http://www.blackberry.com/ns/widgets"
   version="1.0.0.0"> 
 <rim:loadingScreen backgroundImage="images/splash.png"
            onFirstLaunch="true" />
 <name>EGO Project</name> 
 <description>Ego Otobus Bulma</description> 
 <author rim:copyright="2012"
   email="ybu-blackberry@googlegroups.com">YBU TEAM</author> 
 <icon src="images/icon.png"/>
 <icon src="images/hicon.png" rim:hover="true"/>
 <content src="index.html"/> 
 <rim:navigation mode="focus" />
 <rim:permissions>
	<rim:permit>read_geolocation</rim:permit>
 </rim:permissions>
 <feature id="blackberry.ui.dialog" />
 <access subdomains="true" uri="http://code.jquery.com">
    <feature id="blackberry.app.event" required="true" version="1.0.0"/>
	<feature id="blackberry.invoke" required="true" version="1.0.0"/>
 </access>
</widget>