<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:rim="http://www.blackberry.com/ns/widgets"
   version="1.0.0.0"> 
 <rim:loadingScreen backgroundImage="images/splash.png"
            onFirstLaunch="true" />
 <name>EGO Project</name> 
 <description>Ego Otobus Bulma</description> 
 <author rim:copyright="2012"
   email="ybu-blackberry@googlegroups.com">YBU TEAM</author> 
 <icon src="images/icon.png"/>
 <content src="index.html"/> 
 <access subdomains="true" uri="http://code.jquery.com"/>
</widget>