* {
	margin: 0;
	padding: 0;
	margin: auto;
	
	}
#footer
{
	width: 100 0 px;
	background: black;
	color: yellow;
	padding: 200 px;
	text-align: center;
	margin: 0px 442px;
}

#vakitler
{
	font-size:40px; 
	font-family:Helvetica, sans-serif;
	font-weight: bold;
	margin:auto;
	text-align:center;
	background-color:#80ad2e;
	color: #A1FF07;
	padding:0px;
	
}