@charset "utf-8";
/* CSS Document */

.whiteroundtable{
    background-color: white;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 1.5em;
}

.ui-splash 
{ 
	display: block; 
}

.ui-splash 
{ 
	display: none; 
	position: absolute; 
	opacity: .85; 
	z-index: 100; 
	left: 50%; 
	width: 200px; 
	margin-left: -130px; 
	margin-top: -35px; 
	padding: 10px 30px; 
}
